/* --------------------------
  Base Styles
--------------------------- */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
*, *::after, *:before {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    font-size: 0.9em;
    font-weight: 300;
}


/*MOBILE-FIRST*/

header {
    background: #7477bf;
}

footer {
    background: #fbfbfb;
    border: 1px solid #d1d1d1;
}

h2 {
    font: 'Raleway', sans-serif;
    color: #7e7d7d;
}

canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 350px;
}

.wrapper-top {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.top-logo {
    align-self: center;
    margin-left: 15px;
    font-size: 1.4em;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container>* {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.content {
    text-align: left;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

#light {
    font-weight: 100;
}

ul.top-nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.wrapper-top nav {
    margin-right: 10px;
    margin-left: auto;
}

ul.top-nav li, .sidebar ul li {
    padding: 5px;
}

.icon-bell {
    margin-right: 10px;
}

#notification {
    position: relative;
}

li span#pipe-separator {
    font-size: 1.8em;
}

.sidebar {
    background: #4d4c72;
}

.sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sidebar ul, ul.top-nav {
    list-style: none;
    padding: 0;
}

.sidebar ul a, ul.top-nav a {
    text-decoration: none;
    color: white;
}


/* --------------------------
  ICONS
--------------------------- */

.icon {
    width: auto;
    height: 25px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.st0 {
    fill: #ffffff;
}

.icon:hover {
    stroke: #ffffff;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.profile {
    border-radius: 50%;
}

.profile:hover {
    border: 1px solid white;
}


/* --------------------------
  WRAPPER-TAB-SEARCH
--------------------------- */

.wrapper-tab-search {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.wrapper-tab {
    display: none;
}

.wrapper-search-bar {
    background: #fbfbfb;
    width: 100%;
}

#search {
    margin: 10px;
}

label {
    display: none;
}

input, textarea, select {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}


/* --------------------------
  ALERT BOX
--------------------------- */

.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #7377bf;
    color: white;
}

.closebtn {
    margin-left: auto;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/* --------------------------
  WRAPPER-WEB-TRAFFIC
--------------------------- */

.wrapper-web-traffic, .wrapper-daily-traffic, .wrapper-source-traffic, .wrapper-social-stats, .wrapper-new-member, .wrapper-recent-activities, .wrapper-message, .wrapper-settings {
    border-bottom: 1px dashed #e2e2e2;
    padding: 1em;
}

.grouped {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

.widget-title {
    width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    -webkit-flex: 1 100%;
    flex: 1 100%;
    color: #6b6b6b;
}

#datasets-options {
    -webkit-flex: 1 100%;
    flex: 1 100%;
    text-align: center;
}

#datasets-options a {
    text-decoration: none;
    font-weight: 400;
    color: #929292;
    padding: 3px 10px;
}

#datasets-options .active {
    background-color: #81c98f;
    color: #fff;
    border-radius: 10px;
}


/* --------------------------
  WRAPPER-SOCIAL-STATS
--------------------------- */

.wrapper-social-stats {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-stats {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    background-color: #fbfbfb;
    border-radius: 5px;
    flex-basis: 100%;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #d1d1d1;
}

.social-stats .badge {
    background-color: #7377bf;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.social-icons {
    fill: #fff;
    width: 70px;
    margin-top: 5px;
}

.social-stats .stats h5 {
    font-size: 1.1em;
    margin: 0;
    color: #7477bf;
}

.social-stats .stats span {
    font-size: 2.2em;
    color: #666;
}


/* --------------------------
  WRAPPER-NEW-MEMBERS
--------------------------- */

.new-member-details {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 0;
}

.user-photo {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.activity-icon {
    width: 35px;
    height: 45px;
    margin-right: 10px;
}

.info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.new-member-details .email {
    font-size: 0.8em;
    color: #7477bf;
}


/* --------------------------
  WRAPPER-RECENT-ACTIVITY
--------------------------- */

.activity-details {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 0;
}

.activity-details .activity-time {
    font-size: 0.8em;
}

.activity-details .activity-arrow {
    width: 20px;
    height: 20px;
    color: #7477bf;
}


/* --------------------------
  WRAPPER-MESSAGE
--------------------------- */

fieldset {
    outline: 0;
    border: 0;
}

legend {
    display: none;
}

input, textarea, select {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #fbfbfb;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

#message-form-alert {
    display: none;
    text-align: center;
    padding: 10px;
    background: #ffdb99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    border: 0;
    border-bottom: 2px solid #4d4c72;
    background-color: #7377bf;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
}

button:focus {
    outline: none;
    border: 1px solid #000;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}


/* --------------------------
  WRAPPER-MESSAGE
--------------------------- */

#user-settings-form .option {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#user-settings-form .option .label {
    width: 60%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

#user-settings-form select {
    margin-bottom: 15px;
    margin-top: 15px;
}

button#btn-settings-save, button#btn-settings-cancel {
    width: 48%;
}

button#btn-settings-cancel {
    background-color: #b2b2b2;
    border-bottom: 2px solid #666565;
    color: #fff;
    float: right;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 18px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round::before {
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider::before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

@media only screen and (min-width: 768px) {
    header {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: baseline;
    }
    nav.topnav {
        margin-left: auto;
        align-self: center;
    }
    #dotNotification {
        width: 6px;
        height: 6px;
        background-color: #85db81;
        position: absolute;
        bottom: 32px;
        left: 25px;
        border-radius: 50%;
    }
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 0;
        padding-right: 0;
        -webkit-flex: 5 0;
        flex: 5 0;
        -webkit-order: 2;
        order: 2;
    }
    .top-logo {
        margin-right: auto;
        font-size: 1.4em;
    }
    .icon-bell {
        margin-right: 10px;
    }
    .sidebar {
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
        max-width: 100px;
    }
    .sidebar ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .sidebar ul li {
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    footer {
        -webkit-order: 3;
        order: 3;
    }
    /* --------------------------
      WRAPPER-TAB-SEARCH
    --------------------------- */
    .wrapper-tab-search {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .wrapper-tab {
        display: inline;
        padding: 0 20px;
    }
    .wrapper-search-bar {
        -webkit-flex: 1;
        flex: 1;
        border-left: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
    }
    #search {
        margin: 20px 20px 20px auto;
        width: 50%;
    }
    /* --------------------------
      ALERT BAR
    --------------------------- */
    .alert {
        width: 100%;
        margin: 20px;
        text-align: left;
    }
    /* --------------------------
      WRAPPER-WEB-TRAFFIC
    --------------------------- */
    .wrapper-web-traffic, .wrapper-social-stats, .wrapper-tab-search {
        flex-basis: 100%;
        width: 100%;
    }
    .grouped {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #datasets-options {
        text-align: right;
    }
    /* --------------------------
      WRAPPER-DAILY + SOURCE TRAFFIC
    --------------------------- */
    .wrapper-daily-traffic, .wrapper-new-member, .wrapper-message {
        border-right: 1px dashed #e2e2e2;
    }
    .wrapper-daily-traffic, .wrapper-source-traffic, .wrapper-new-member, .wrapper-recent-activities, .wrapper-message, .wrapper-settings {
        -webkit-flex: 0 50%;
        flex: 0 50%;
    }
    /* --------------------------
      WRAPPER-SOCIAL-STATS
    --------------------------- */
    .wrapper-social-stats {
        flex-direction: row;
    }
    .social-stats {
        border: 1px solid #d1d1d1;
    }
    /* --------------------------
      WRAPPER-NEW-MEMBERS
    --------------------------- */
    /* --------------------------
      WRAPPER-RECENT-ACTIVITY
    --------------------------- */
    /* --------------------------
      WRAPPER-MESSAGE
    --------------------------- */
    /* --------------------------
      WRAPPER-MESSAGE
    --------------------------- */
}

@media only screen and (min-width: 1024px) {
    canvas {
        max-height: 500px;
    }
    .social-stats {
        flex-basis: 33%;
        width: 33%;
        margin-top: 5px;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    color: black;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 80%;
    /*font-size: 0.8em;*/
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
