/* --------------------------
  Base Styles
--------------------------- */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
*, *::after, *:before {
    box-sizing: border-box;
}


/*MOBILE-FIRST*/

.logo {
    color: white;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container>* {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.content {
    text-align: left;
}

header {
    background: #7477bf;
}

footer {
    background: #fbfbfb;
    border: 1px solid #dbdbdb;
}

h2 {
    font: 'Raleway', sans-serif;
    color: #7e7d7d;
}

canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 350px;
}

#light {
    font-weight: 100;
}

.sidebar {
    background: #4d4c72;
}

.sidebar ul, .topnav ul {
    list-style: none;
    padding: 0;
}

.topnav ul li, .sidebar ul li {
    display: inline-block;
    padding: 5px;
}

.sidebar ul a, .topnav ul a {
    text-decoration: none;
    color: white;
}


/* --------------------------
  WRAPPER-TAB-SEARCH
--------------------------- */

.wrapper-tab-search {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.wrapper-tab {
    display: none;
}

.wrapper-search-bar {
    background: #fbfbfb;
    width: 100%;
}

#search {
    margin: 10px;
}

label {
    display: none;
}

input, textarea, select {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}


/* --------------------------
  ALERT BOX
--------------------------- */

.alert {
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: #7377bf;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.1em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/* --------------------------
  WRAPPER-WEB-TRAFFIC
--------------------------- */

.wrapper-web-traffic, .wrapper-daily-traffic, .wrapper-source-traffic, .wrapper-socmed-stats, .wrapper-new-member, .wrapper-recent-activities, .wrapper-message, .wrapper-settings {
    border-bottom: 1px dashed #e2e2e2;
    padding: 1em;
}

.grouped {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

.widget-title {
    width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    flex: 1 100%;
}

#datasets-options {
    flex: 1 100%;
    text-align: center;
}

#datasets-options a {
    text-decoration: none;
    font-weight: 400;
    color: #929292;
    padding: 3px 10px;
}

#datasets-options .active {
    background-color: #81c98f;
    color: #fff;
    border-radius: 10px;
}

@media only screen and (min-width: 768px) {
    header {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: baseline;
    }
    nav.topnav {
        margin-left: auto;
    }
    .content {
        padding-top: 0;
        padding-right: 0;
        -webkit-flex: 5 0px;
        flex: 5 0 px;
        -webkit-order: 2;
        order: 2;
    }
    .topnav ul li {
        display: inline;
    }
    .sidebar {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
    }
    .sidebar ul li {
        display: block;
        padding: 5px;
    }
    footer {
        -webkit-order: 3;
        order: 3;
    }
    /* --------------------------
      WRAPPER-TAB-SEARCH
    --------------------------- */
    .wrapper-tab-search {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .wrapper-tab {
        display: inline;
        padding: 0 20px;
    }
    .wrapper-search-bar {
        flex: 1;
        border-left: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }
    #search {
        margin: 20px 20px 20px auto;
        width: 50%;
    }
    /* --------------------------
      ALERT BAR
    --------------------------- */
    .alert {
        margin: 20px;
    }
    /* --------------------------
      WRAPPER-WEB-TRAFFIC
    --------------------------- */
    .wrapper-web-traffic, .wrapper-socmed-stats, .wrapper-tab-search {
        flex-basis: 100%;
        width: 100%;
    }
    .grouped {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #datasets-options {
        text-align: right;
    }
}

@media only screen and (min-width: 1024px) {
    canvas {
        max-height: 500px;
    }
}
