/* --------------------------
  Base Styles
--------------------------- */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
* {
    box-sizing: border-box;
}

body {
    color: #797e83;
    font-size: 16px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.container {
    width: 90%;
    margin: auto;
}

.light {
    font-weight: 100;
}


/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
    .main-content {
        margin-top: 4em;
    }
    p {
        -webkit-column-count: 2;
        -webkit-column-gap: 2.5em;
        -moz-column-count: 2;
        -moz-column-gap: 2.5em;
        column-count: 2;
        column-gap: 2.5em;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1080px;
    }
}


/* --------------------------
  main-header styles
--------------------------- */

.main-header, .nav {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-top: 2em;
    background-color: #7477BF;
}

.site-logo {
    align-self: center;
    font-size: 40px;
}

.nav {
    margin-top: 1.5em;
}

.nav a {
    display: block;
    color: #fff;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #ebecec;
}

.nav a:hover {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

.icon-bell {
    height: 1.85rem;
    fill: #fff;
}

.icon-bell:hover {
    stroke: #fff;
}

.img-profile {
    width: 1.85rem;
}


/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
    .main-header {
        height: 200px;
        justify-content: flex-end;
    }
    .site-logo {
        width: 140px;
        font-size: 35px;
    }
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav a {
        border-bottom-color: transparent;
    }
    .icon-bell {
        padding-right: 1.5rem;
        border-right: 1px solid #5d61bf;
    }
    .img-profile {
        width: 35px;
    }
}

@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
    }
    .site-logo {
        margin-right: auto;
        font-size: 30px;
    }
    .nav {
        margin-top: 0;
        align-self: center;
    }
    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }
    .icon-bell {
        height: 1.85rem;
        fill: #fff;
    }
    .icon-bell:hover {
        stroke: #fff;
    }
    .icon-notification, .img-profile {
        width: 30px;
    }
    /*TODO: Need to add separation between the notification icon and its right border.*/
    .icon-notification {
        border-right: 1px solid #5d61bf;
    }
}


/* --------------------------
  menu-section styles
--------------------------- */

.menu-section {
    background: #4d4c72;
    padding: 0;
}

.single-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.single-nav li {
    text-align: center;
    margin: 1.125em 0;
}

img {
    width: 30px;
}

.icon {
    height: 1.85rem;
    fill: #9c9cb0;
}

.icon:hover {
    fill: #fff;
    stroke: #9c9cb0;
}

.active {
    fill: #fff;
}

.active:hover {
    fill: #fff;
    stroke: #fff;
}


/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
    .menu-section {
        width: 10%;
        padding: .5em 1.4em 1em;
    }
    .single-nav ul {
        flex-direction: column;
        padding: 0;
    }
    .single-nav a {
        display: block;
        padding: .4em 0;
        text-decoration: none;
        transition: all 0.5s ease;
    }
    .single-nav a:hover, .single-nav a:focus {
        padding: .4em 1em;
        background: hsl(242, 20%, 57%);
        color: white;
    }
    .single-nav img {
        width: 30px;
    }
}

@media (min-width: 1025px) {
    .menu-section {
        width: 8%;
    }
}
